<div ng-switch="vm.couch.loggedIn">
<p ng-switch-when="yes">Logged in as <span ng-bind="vm.username"></span>. <a ng-click="vm.logout()" ng-link="/login">Log out</a></p>
<form ng-switch-default>
  <label for="username">Username:</label><input ng-model="vm.username" id="username" type="text" minlength="1"></input><br/>
  <label for="password">Password:</label><input ng-model="vm.password" id="password" type="password"  minlength="1"></input><br/>
  <div ng-switch="vm.hasAdmins">
    <button class="btn btn-disabled" ng-switch-when="unknown">Loading...</button>
    <button class="btn" ng-switch-when="yes" ng-click="vm.login()" type="submit">Log in</button>
    <button class="btn" ng-switch-default ng-click="vm.createAndLogin()" type="submit">Create user and login</button>
  </div>
</form>
</div>
